<div class="account-outer" id="containerResetPassID">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 opti_vertical-align left_section">
          <!-- <img src="assets/images/logo/400dpiLogo.png"> -->
          <h1 class="text-center">Logo</h1>
        </div>
        <div class="col-md-4 opti_vertical-align right_section">
          
          <h1 class="text-center">Reset Password</h1>
          <form #SignIn="ngForm">
            
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" name="email" [(ngModel)]="acntModel.email" class="form-control" id="email">
            </div>
            
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
  
  
        </div>
      </div>
    </div>
  </div>
  