<div class="account-outer" id="containerlandingID">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 opti_vertical-align left_section p-0">
          <img src="{{imgPath}}/account/left-banner.gif">
          <!-- <h1 class="text-center">Logo</h1> -->
        </div>
        <div class="col-md-4 opti_vertical-align right_section">
          
            <button type="button" class="btn btn-primary" (click)="navigateTo('login');">Login</button>
            <br/>
            <button type="button" class="btn btn-primary" (click)="navigateTo('register');">Registeration</button>
  
  
        </div>
      </div>
    </div>
  </div>
  
