<div class="account-outer" id="containerSignUpID">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 opti_vertical-align left_section">
          <img src="assets/images/logo/400dpiLogo.png">
        </div>
        <div class="col-md-4 opti_vertical-align right_section">
          <h1 class="text-center">Registration</h1>
          <form #SignIn="ngForm">
            <div class="form-group">

              <label for="name" class="full_width">
                Name
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error  float-right">
                  <div *ngIf="name.errors?.required">
                    Name is required.
                  </div>
                </div>
              </label>

              <input type="text" name="name" [(ngModel)]="acntModel.name" class="form-control" id="name" #name='ngModel' required>
            </div>

            <div class="form-group">
              <label for="email" class="full_width">
                Email address:
                <div *ngIf="refEmail.touched && refEmail.errors?.required" class="error  float-right">
                  Email is required.
                </div>
                <div *ngIf="refEmail.touched && refEmail.invalid && !refEmail.errors?.required" class="error  float-right">
                  Invalid Email Id
                </div>
              </label>
              <input type="text" name="email" [(ngModel)]="acntModel.email" class="form-control" id="email" autocomplete="off" email="true" #refEmail='ngModel' required>
            </div>
            
            <div class="form-group">
              <label for="pwd" class="full_width">
                Password:
                <div *ngIf="refPass.touched && refPass.errors?.required" class="error  float-right">
                  Password is required.
                </div>
                <div *ngIf="refPass.errors?.minlength && (refPass.dirty || refPass.touched)" class="error  float-right">
                    Password Should be Minimum 4 Char.
                </div>
              
              </label>
              <input type="password" name="password" minlength="4" [(ngModel)]="acntModel.password" class="form-control" id="pwd" #refPass='ngModel' required >
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
          </form>
  
  
        </div>
      </div>
    </div>
  </div>
  