<div class="account-outer" id="containerSignUpID">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 opti_vertical-align left_section">
          <img src="assets/images/logo/400dpiLogo.png">
        </div>
        <div class="col-md-4 opti_vertical-align right_section">
          <h1 class="text-center">Registration</h1>
          <form #SignIn="ngForm">
            <div class="form-group">

              <label for="name" class="full_width">
                Name
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error  float-right">
                  <div *ngIf="name.errors.required">
                    Name is required.
                  </div>
                </div>
              </label>

              <input type="text" name="name" [(ngModel)]="acntModel.name" class="form-control" id="name" #name='ngModel' required>
            </div>

            <div class="form-group">
              <label for="email" class="full_width">
                Email address:
                <div *ngIf="email.invalid && (name.dirty || name.touched)" class="error  float-right">
                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>
                </div>
              </label>
              <input type="email" name="username" [(ngModel)]="acntModel.email" class="form-control" id="email" autocomplete="off" email="true" #email='email' required>
            </div>
            
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" name="password" [(ngModel)]="acntModel.password" class="form-control" id="pwd">
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
          </form>
  
  
        </div>
      </div>
    </div>
  </div>
  